:root {
  --color-primary-light-1: rgb(229 236 255);
  --color-primary-light-2: rgb(201 216 255);
  --color-primary-light-3: rgb(170 195 255);
  --color-primary-light-4: rgb(138 172 255);
  --color-primary-light-5: rgb(106 147 255);
  --color-primary-light-6: rgb(74 120 255);
  --color-primary-light-7: rgb(51 95 230);
  --color-primary-light-8: rgb(34 73 204);
  --color-primary-light-9: rgb(22 53 178);
  --color-primary-light-10: rgb(13 37 153);
  --color-primary-light-11: rgb(7 24 127);
  --color-primary-light-12: rgb(3 14 102);
  --color-primary-light-13: rgb(1 7 76);
  --color-primary-light-14: rgb(0 3 51);
  --color-primary-light-15: rgb(0 1 25);
  --color-primary-light-16: rgb(0 0 0);
  --color-primary-1: rgb(229 236 255);
  --color-primary-2: rgb(201 216 255);
  --color-primary-3: rgb(170 195 255);
  --color-primary-4: rgb(138 172 255);
  --color-primary-5: rgb(106 147 255);
  --color-primary-6: rgb(74 120 255);
}
